# Impoprt Libs

In [21]:
import os
import pandas as pd
from rich import print
import yaml
from collections import OrderedDict

# Load Files

In [6]:
# excel file name
excel_file = "estimation of heat capacities.xlsx"
# full path to the excel file
excel_file_path = os.path.join(os.getcwd(), excel_file)
print(excel_file_path)

e:\Python Projects\PyThermoEst\private\estimation of heat capacities.xlsx

In [7]:
# load the excel file
df_1 = pd.read_excel(excel_file_path, sheet_name="Sheet1")
df_1.head(3)

   No.       Group     a[i]      b[i]      d[i]  T[min]  T[max]
0    1   C-(H)3(C)  4.19845 -0.312709  0.178609      85     705
1    2  C-(H)2(C)2  2.73450  0.122732 -0.123482      85     700
2    3   C-(H)(C)3 -1.35393  1.392180 -0.101118      85     483

In [8]:
# load the excel file
df_2 = pd.read_excel(excel_file_path, sheet_name="Sheet2")
df_2.head(3)

   No.          Group      a[i]     b[i]      d[i]  T[min]  T[max]
0    1  Cyclopropanea  4.266040 -3.84365  0.918892     154     315
1    2    Cyclobutane  3.603130 -3.92527  0.896841     140     301
2    3   Cyclopentane  0.256206 -1.25579  0.213503     140     460

# Create YML Files

In [31]:
# create a dictionary
# looping through the rows of the dataframe
# and creating a dictionary of the data
data = {}

for index, row in df_2.iterrows():
    # set
    data[f"group-{index+1}"] = {
        'id': row['No.'],
        'name': row['Group'],
        'a': row['a[i]'],
        'b': row['b[i]'],
        'd': row['d[i]'],
        'Tmin': row['T[min]'],
        'Tmax': row['T[max]']
    }

In [32]:
# Convert DataFrame to list of OrderedDict
data_list = [OrderedDict(row) for _, row in df_2.iterrows()]

In [33]:
# looping through data
for key, value in data.items():
    print(f"key: {key}, value: {value}")
    break

key: group-1, value: {'id': 1, 'name': 'Cyclopropanea', 'a': 4.26604, 'b': -3.84365, 'd': 0.918892, 'Tmin': 154,
'Tmax': 315}

In [34]:
# Define a custom Dumper to preserve order
class OrderedDumper(yaml.Dumper):
    def represent_dict(self, data):
        return self.represent_mapping('tag:yaml.org,2002:map', data.items())

yaml.add_representer(OrderedDict, OrderedDumper.represent_dict)

In [35]:
# sheet1 file
sheet1_file = "sheet2.yml"
# full path to the sheet1 file
sheet1_file_path = os.path.join(os.getcwd(), sheet1_file)
print(sheet1_file_path)

e:\Python Projects\PyThermoEst\private\sheet2.yml

In [36]:
# convert dictionary to yml file as already saved in data
with open(sheet1_file_path, "w") as f:
    yaml.dump(data_list, f, Dumper=OrderedDumper, default_flow_style=False)

# Load YML Files

In [37]:
# load the yml file
with open(sheet1_file_path, "r") as f:
    data_yml = yaml.load(f, Loader=yaml.FullLoader)

In [38]:
print(type(data_yml))

<class 'list'>

In [39]:
data_yml[0]

{'No.': 1,
 'Group': 'Cyclopropanea',
 'a[i]': 4.26604,
 'b[i]': -3.84365,
 'd[i]': 0.918892,
 'T[min]': 154,
 'T[max]': 315}